body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

nav {
    background-image: url("images/background_header.png");

}

header {
    background-image: url("images/background_header.png");

}

a {
    display: inline-block;

}

.cta {
    display: inline-block;
    background-color: #2B4C9A;
    width: 180px;
    height: 35px;
    border-radius: 60px;
    padding-top: 6px;

}

.cta1 {
    display: inline-block;
    background-color: #2B4C9A;
    width: 205px;
    height: 45px;
    border-radius: 70px;
    padding-top: 11px;
}

.first-div {

    padding-top: 160px;

}

.o {
    border: 1px solid black;
}

.p1 {
    font-size: 4em;
    line-height: 1.1;
    width: 70%;

}

span {
    color: #2B4C9A;
}

.h2-1 {
    color: #F08218;
}

.section2 {
    height: 446px;
    background: linear-gradient(90deg, #F08218, #CD4B17);
}

.e {

    position: relative;
    top: 60px;
}

.div-1 {
    width: 960px;
    margin: auto;
    position: relative;
    top: 100px;
}

.div-2 {

    position: relative;
    margin: auto;
    bottom: 70px;
    width: 66px;
}

.bo {
    background-color: #2B4C9A;
    font-size: 1em;
    width: 100px;
}

.f {
    margin-top: 180px;
    position: relative;
    left: 5px;

}

.v {

    position: relative;
    top: 8px;
    left: 50px;
}

.div-s {
    margin-top: 110px;
}

footer
{
    height: 450px;
    background-color: #EAF0FF;
}
.div-f
{
    padding-top: 110px;
}
.f-t{
    border-top: 1px solid #717275;
    position: relative;
    left: 70px;
}
